/* add your styling here */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  background: #086788;
  /* background: #C44536; */
  text-align: center;
}

header {
  text-align: center;
  background: #FCA311;
  margin-top: 30px;
  padding: 10px;
  font-size: 25px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  list-style: none;
}



img {
  width: 170px;
  height: 270px;
  border: 6px solid #FCA311;
  border-radius: 1%;
  transition: transform 0.3s ease-out;
}

li {
  flex: 250px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
  
}

img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

p {
  color: white;
  transition: transform 0.3s ease-out;
}

p:hover,
h2:hover {
  color: #FCA311;
}

  
